.footer {
    background: var(--color-light-gray);
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .logo {
    font-size: 26px;
}

.copyright p {
    font-family: var(--font-open-sans);
    font-size: 11px;
    color: var(--color-gray);
    padding-top: 6px;
}

.facebook {
    margin-left: 20px;
}