:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000;
    --color-gray: #A5A5A5;
    --color-light-gray: #F7F7F7;
    --color-white: #FFF;

    --font-raleway: Raleway, sans-serif;
    --font-open-sans: "Open Sans", sans-serif;

    box-sizing: border-box;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

.header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid var(--color-gray);
    box-shadow: 0 3px 6px var(--color-gray);
    z-index: 1;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font-raleway);
    font-size: 32px;
    font-weight: 300;
    color: var(--color-primary);
    text-decoration: none;
}

.header nav {
    display: flex;
}

.header nav a {
    font-family: var(--font-open-sans);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
    color: var(--color-gray);
    text-decoration: none;
    text-transform: uppercase;
    padding: 28px 10px;
    margin: 0 40px;
}

.header nav a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

.opening {
    background: url("../assets/Background.png") no-repeat bottom;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.opening h1 {
    font-family: var(--font-raleway);
    font-size: 49px;
    margin-bottom: 20px;
    margin-top: 200px;
}

.opening p {
    font-family: var(--font-open-sans);
    font-size: 16px;
    margin-bottom: 60px;
}

.btn {
    background: var(--color-primary);
    padding: 22px 157px;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    text-decoration: none;
    color: var(--color-white);
    font-size: 16px;
    font-family: var(--font-open-sans);
    font-weight: 700;
}

.statistics {
    text-align: center;
    margin-bottom: 120px;
}

.statistics h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    margin: 100px 0;
}

.statistics__content {
    display: flex;
    justify-content: space-around;
}

.statistics__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.circle {
    background: var(--color-redish);
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.circle--primary {
    background: var(--color-primary);
}

.circle--green {
    background: var(--color-green);
}

.statistics img {
    position: absolute;
}

.statistics__img-1 {
    top: 5px;
    right: 35px;
}

.statistics__img-2 {
    top: 15px;
    right: 60px;
}

.statistics__img-3 {
    top: 5px;
    right: 40px;
}

.statistics__box h3 {
    font-family: var(--font-raleway);
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 6px;
    padding: 15px 0;
}

.statistics__box p {
    font-family: var(--font-raleway);
    font-size: 17px;
    color: var(--color-gray);
}

.benefits {
    background: var(--color-light-gray);
}

.benefits__content {
    display: flex;
    flex-direction: column;
}

.benefits__box-1,
.benefits__box-2 {
    padding: 105px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 370px;
    background: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    box-sizing: border-box;
}

.benefits__box-3 {
    display: flex;
    justify-content: space-between;
    height: 370px;
    margin-bottom: 150px;
}

.benefits__box-1 {
    margin-top: 105px;
}

.benefits__box-2 {
    margin: 37px 0;
    padding: 0 70px;
}

.benefits h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    margin-bottom: 30px;
}

.benefits p {
    font-family: var(--font-open-sans);
    font-size: 16px;
    margin-bottom: 50px;
}

.benefits__box__text-1 {
    margin-left: 35px;
    width: 416px;
}

.benefits__box__text-2 {
    margin-right: 20px;
    width: 416px;
}

.benefits__box__text-3 {
    width: 623px;
    height: 370px;
    background: var(--color-white);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
}

.benefits__box__text-1::after {
    content: "";
    display: block;
    width: 328px;
    height: 4px;
    background: var(--color-redish);
}

.benefits__box__text-2::after {
    content: "";
    display: block;
    width: 328px;
    height: 4px;
    background: var(--color-primary);
}

.benefits__box__text-3::after {
    content: "";
    display: block;
    width: 328px;
    height: 4px;
    background: var(--color-green);
}

.benefits__box__img-1 {
    padding-right: 110px;
    padding-top: 100px;
}

.benefits__box__img-3 {
    background: var(--color-green);
    height: 370px;
    width: 440px;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
}

.benefits__box__img-1,
.benefits__box__img-2,
.benefits__box__img-3 {
    position: relative;
}

.benefits img {
    position: relative;
    width: 386px;
    height: auto;
    margin-right: 70px;
}

.benefits__box__img-3 img {
    width: 295px;
    height: auto;
    margin-top: 100px;
    margin-left: 62px;
}

.benefits__box__img-1::before {
    content: "";
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 41px;
    background: var(--color-redish);
    transform: rotate(45deg);
    position: absolute;
    top: 50px;
    right: 150px;
}

.benefits__box__img-2::before {
    content: "";
    display: block;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: var(--color-primary);
    position: absolute;
    bottom: 0;
    left: 0;
}

.pricing h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    text-align: center;
    padding: 100px 0 50px;
}

.pricing__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 180px;
}

.pricing--box {
    width: 372px;
    height: 461px;
    border: 1px solid var(--color-redish);
    border-radius: 18px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing h3 {
    font-family: var(--font-raleway);
    font-size: 20px;
    font-weight: 800;
    padding-top: 34px;
}

.pricing h4 {
    font-family: var(--font-open-sans);
    font-size: 46px;
    font-weight: 300;
    color: var(--color-redish);
    line-height: 64px;
    padding: 14px 0 69px 0;
}

.pricing ul li {
    font-family: var(--font-open-sans);
    font-size: 14px;
    padding-bottom: 20px;
}

.ul__green {
    list-style-image: url("../assets/Ckechmark-1.svg");
}

.ul__red {
    list-style-image: url("../assets/Close.svg");
}

.btn__small {
    padding: 16px 57px;
    position: absolute;
    box-shadow: none;
    font-size: 13px;
    bottom: -25px;
}

.btn__redish {
    background: var(--color-redish);
}

.btn__primary {
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.btn__green {
    background: var(--color-green);
}

.pricing__box-3 {
    border-color: var(--color-green);
}

.pricing__box-3 h4 {
    color: var(--color-green);
    padding-bottom: 5px;
}

.pricing__box-3 h5 {
    font-family: var(--font-raleway);
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 50px;
}

.pricing__box-2 {
    border-color: var(--color-primary);
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
    width: 405px;
    height: 500px;
}

.pricing__box-2 h4 {
    color: var(--color-primary);
    padding-bottom: 5px;
}

.pricing__box-2 h5 {
    font-family: var(--font-raleway);
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 60px;
}

.pricing__box-2 ul li {
    padding-bottom: 25px;
}

.contact__boxes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.contact__box-1 h1 {
    font-family: var(--font-raleway);
    font-size: 49px;
    margin-bottom: 22px;
}

.contact__box-1 p {
    font-family: var(--font-open-sans);
    font-size: 16px;
    margin-bottom: 40px;
}

.contacts {
    display: flex;
}

.contacts img {
    margin-right: 10px;
    width: 27px;
    height: 27px;
}

.mail {
    margin-right: 20px;
}

.contacts p {
    font-family: var(--font-open-sans);
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: var(--color-gray);
}

.contact__box-2 {
    max-width: 440px;
}

form {
    display: flex;
    flex-direction: column;
}

label[for="name"],
label[for="email"] {
    font-family: var(--font-open-sans);
    font-weight: 700;
    font-size: 11px;
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: 3.28px;
}

.name,
.email {
    border: none;
    border-bottom: 1px solid var(--color-gray);
    height: 42px;
}

.name {
    margin-bottom: 42px;
}

.custom-checkbox {
    display: flex;
    margin-top: 30px;
}

.custom-checkbox p {
    font-family: var(--font-open-sans);
    font-size: 12px;
    color: var(--color-gray);
    padding-bottom: 20px;
}

.custom-checkbox input[type='checkbox'] {
    display: none;
}

.custom-checkbox span {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    flex-shrink: 0;
    margin: 5px 10px 0 0;
}

.custom-checkbox input:checked + span {
    background: url("../assets/Checkmark.svg") no-repeat center;
}

.btn__medium {
    border: none;
    padding: 20px 97px;
    font-size: 13px;
}

.contact__btn {
    display: flex;
    justify-content: flex-end;
}