.contact__boxes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.contact__box-1 h1 {
    font-family: var(--font-raleway);
    font-size: 49px;
    margin-bottom: 22px;
}

.contact__box-1 p {
    font-family: var(--font-open-sans);
    font-size: 16px;
    margin-bottom: 40px;
}

.contacts {
    display: flex;
}

.contacts img {
    margin-right: 10px;
    width: 27px;
    height: 27px;
}

.mail {
    margin-right: 20px;
}

.contacts p {
    font-family: var(--font-open-sans);
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: var(--color-gray);
}

.contact__box-2 {
    max-width: 440px;
}

form {
    display: flex;
    flex-direction: column;
}

label[for="name"],
label[for="email"] {
    font-family: var(--font-open-sans);
    font-weight: 700;
    font-size: 11px;
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: 3.28px;
}

.name,
.email {
    border: none;
    border-bottom: 1px solid var(--color-gray);
    height: 42px;
}

.name {
    margin-bottom: 42px;
}

.custom-checkbox {
    display: flex;
    margin-top: 30px;
}

.custom-checkbox p {
    font-family: var(--font-open-sans);
    font-size: 12px;
    color: var(--color-gray);
    padding-bottom: 20px;
}

.custom-checkbox input[type='checkbox'] {
    display: none;
}

.custom-checkbox span {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    flex-shrink: 0;
    margin: 5px 10px 0 0;
}

.custom-checkbox input:checked + span {
    background: url("../assets/Checkmark.svg") no-repeat center;
}

.btn__medium {
    border: none;
    padding: 20px 97px;
    font-size: 13px;
}

.contact__btn {
    display: flex;
    justify-content: flex-end;
}

.footer {
    background: var(--color-light-gray);
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .logo {
    font-size: 26px;
}

.copyright p {
    font-family: var(--font-open-sans);
    font-size: 11px;
    color: var(--color-gray);
    padding-top: 6px;
}

.facebook {
    margin-left: 20px;
}