.btn {
  background: $color-primary;
  padding: 22px 157px;
  box-shadow: 5px 10px 14px #07ACE629;
  border-radius: 40px;
  text-decoration: none;
  color: $color-white;
  font-size: 16px;
  font-family: $font-open-sans;
  font-weight: 700;

  @include xs {
    padding: 22px 92px;
    display: block;
    margin: 0 15px;
  }
}

.btn__small {
  padding: 16px 57px;
  position: absolute;
  box-shadow: none;
  font-size: 0.8125rem;
  bottom: -25px;
}

.btn__redish {
  background: $color-redish;
}

.btn__primary {
  box-shadow: 5px 10px 14px $color-primary-shadow;
}

.btn__green {
  background: $color-green;
}
